body{
	background-color: #0b3f41;
}

.form-signin{
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
    margin-top: 8%;
    
    h2{
    	background: transparent url(../images/ox_logo.png) no-repeat;
    	height: 130px;
		margin: 0 0 8% 18%;
		text-indent: -999px;
    }

    input[type="email"], input[type="password"]{
    	margin: 5% 0;
		height: 3em;
    }

    .checkbox{
    	color: #578c8a;
    	padding: 3% 0;
    }

    button.btn{
    	border: 1px solid #fff;
    	background-color: #0b3f41;
    	color: #fff;
    	height: 3em;
    }
}