

<div class="container body-dashboard">
	<notification></notification>
		<div class="col-md-12" ng-repeat="project in projects">
			<cardflip flipped="flipped">
				<card-front>
					<div class="progress" card-toggle>
						<div class="progress-bar progress-bar-{{project.status}} progress-bar-striped" role="progressbar" aria-valuenow="{{project.statics.progress}}" aria-valuemin="0" aria-valuemax="100" style="width: {{project.statics.progress}}%;">
						</div>
						<div style="position:absolute;width:100%; margin-top:40px;">
							<div class="col-xs-4">
								{{project.statics.progress}}%
							</div>
							<div class="col-xs-4">
								{{ project.name }}
							</div>
							<div class="col-xs-4">
								{{ project.statics.number }}
							</div>
						</div>
					</div>
			    </card-front>
			    <card-back>
			    	<button type="button" class="btn btn-success btn-back" card-toggle></button>
		            <button type="button" class="btn btn-success btn-run" ng-click="runs(project.id)"></button>
					<button type="button" class="btn btn-info btn-details" ng-click="showGrid(project.id)"></button>
					<button type="button" class="btn btn-danger btn-delete" ng-click="delete(project)"></button>
			    </card-back>
			</cardflip>
		</div>
</div>

<script type="text/ng-template" id="myModalContent.html">
    <div class="modal-header">
        <h3 class="modal-title">Crear Proyecto</h3>
    </div>
    <div class="modal-body">
		<div class="form-group">
			<label for="name">Nombre:</label>
			<input type="text" class="form-control" ng-model="project.name" placeholder="Enter Name">
		</div>
		<div class="form-group">
			<label for="description">Descripcion:</label>
			<input type="text" class="form-control" ng-model="project.description" placeholder="Enter Description">
		</div>
		<div class="form-group">
			<label for="url">Url:</label>
			<input type="text" class="form-control" ng-model="project.url" placeholder="Ej: https://github.com/decarialeonardo/Ox-Client">
		</div>
		<div class="form-group">
			<label for="branch">Branch:</label>
			<input type="text" class="form-control" ng-model="project.branch" placeholder="">
		</div>
    </div>
    <div class="modal-footer">
    	<button class="btn btn-success" ng-click="createProject(project)">Crear</button>
        <button class="btn btn-default" ng-click="cancel()">Cerrar</button>
    </div>
</script>

<script type="text/ng-template" id="confirmModal.html">
	 <div class="modal-header">
        <h3 class="modal-title">Eliminar Proyecto</h3>
    </div>
    <div class="modal-body">
    	¿Realmente desea eliminar el proyecto {{project.name}}?
    </div>
    <div class="modal-footer">
    	<button class="btn btn-success" ng-click="deleteConfirmed(project.id)">Aceptar</button>
        <button class="btn btn-default" ng-click="cancel()">Cerrar</button>
    </div>
</script>